name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: "read"

    steps:
      - uses: actions/checkout@v6

      - name: Use Node.js (.nvmrc)
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Run linters
        run: npm run lint

      - name: Run Build
        run: npm run electron:pack
