name: E2E

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: "read"

    steps:
      - uses: actions/checkout@v6

      - name: Use Node.js (.nvmrc)
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Setup app armor
        run: sudo sysctl -w kernel.apparmor_restrict_unprivileged_userns=0

      - name: Run test
        run: xvfb-run --auto-servernum --server-args="-screen 0 1280x960x24" -- npm test

      - uses: actions/upload-artifact@v5
        if: failure()
        with:
          name: playwright
          include-hidden-files: true
          path: .playwright/
          retention-days: 7
